* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  border-collapse: collapse; /* Se unen los bordes de la fila */
  width: 100%;
}

td,
th {
  border: 1px solid #000000;
  text-align: left;
  padding: 10px;
}
